<h1>Actor #<%= @actor.id %></h1>

<p>
  <b>Name:</b>
  <%= @actor.name %>
</p>

<p>
  <b></b>
  <%= image_tag(@actor.image_url) %>
</p>

<p>
  <b>Dob:</b>
  <%= @actor.dob %>
</p>

<p>
  <b>Bio:</b>
  <%= @actor.bio %>
</p>

<div>
<b>Roles:</b>
<p><%= link_to 'Add a role for this actor', new_role_url(:actor_id => @actor.id) %></p>
<% @actor.roles.each do |role| %>
  <p><%= role.name %> in <%= role.movie.title %></p>
<% end %>
</div>


